/* Header */
header h1 {
    background-color: #ffffff;
    text-align: center;
    font-family:monospace;
    font-size: 20px;
    font-weight: lighter;
    padding: 20px 35px;
    margin: 20px;
    color: #252839;
   
}
header nav ul {
    
    position: relative;	
	padding: 1px 4px;
	padding-right: 3px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family:monospace;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
 
}

header a {
    color: #252839;
    text-decoration: none;
}
header nav ul li a:hover {
    color:#01fe87;
    text-shadow: none;
    text-decoration: underline;
    text-underline-offset: 20px;
  }
  
/* Animation */
section h2 {
    position: relative;
    font-size: 10vh;
    color: #252839;
    -webkit-text-stroke: 0.1vw #ffffff;
    text-transform: uppercase;

}
section h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #ffffff;
    border-right: 1px solid #01fe87;
    overflow: hidden;
    animation: animate 10s;
   
}
@keyframes animate
{
    0%,10%, 100%
    {
        width:0%;
    }
    70%, 90%
    {
    width:100%;
    }
}
/* End of Animation */

/* Hero */
.mywork{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family:monospace;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 30vh;
    background: #252839;
    margin: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hero1 {
    
    padding: 0px;
    width: 25%;
    text-align: right;
    margin: 3.5%;
    color:#252839;
    font-size: 22px;
    line-height: 1.2;
    font-family:monospace;
    font-weight: lighter;
  }
  span{
      color:#01fe87;
      font-size: 30px;
      
  }
  /* Website Development/Graphic Design */
  .images {
      margin: 20px;
    border: 1px solid #01fe87;
    border-radius: 4px;
    padding: 5px;
    width: 800px;
  }
  
.web-development {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
   .graphic-design {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }
 
   .images2 {
    margin: 50px;
    border: 1px solid #252839;
    border-radius: 4px;
    width: 700px;
   }
   .text {
       text-align: center;
       font-family: monospace;
       font-weight: lighter;
       font-size: 20px;
       color: #252839;
   }













    /* .text-animation {
      animation: type 3s steps(50);
      overflow: hidden;
      white-space: nowrap;
      font-family: monospace;
      border-right: 4px solid black;
      width: 22ch;

  }
  @keyframes type{
   0%   {
       width: 0ch;
   }
  100% {
      width: 22ch;
  }
}
.text-animation:hover{
    animation-iteration-count:infinite;
  
}
@keyframes type{
 0%   {
     width: 0ch;
 }
100% {
    width: 22ch;
}
}