/* Header */
header h1 {
    background-color: #ffffff;
    text-align: center;
    font-family:monospace;
    font-size: px;
    font-weight: lighter;
    padding: 20px 35px;
    margin: 20px;
    color: #252839;
}
header nav ul {
    position: relative;	
	padding: 1px 4px;
	padding-right: 3px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family:monospace;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
}

header a {
    color: #252839;
    text-decoration: none;
}
header nav ul li a:hover {
    color:#F2B157;
    text-shadow: none;
    text-decoration: underline;
    text-underline-offset: 20px;
}
/* Animation */
section h2 {
    position: relative;
    font-size: 10vh;
    color: #252839;
    -webkit-text-stroke: 0.1vw #ffffff;
    text-transform: uppercase;
}
section h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #ffffff;
    border-right: 1px solid #01fe87;
    overflow: hidden;
    animation: animate 10s;
}
@keyframes animate
{
    0%,10%, 100%
    {
        width:0%;
    }
    70%, 90%
    {
    width:100%;
    }
}
/* End of Animation */

/* Hero */
.title{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    font-family:monospace;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 30vh;
    background: #252839;
    margin: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
span{
      color:#01fe87;
      font-size: 30px;
}
  /* Website Development/Graphic Design */
.images {
    margin: 20px;
    padding: 15px;
    border: 1px solid #01fe87;
    border-radius: 4px;
    height: 30em; margin-right: 1%;margin-bottom: 0.5em;
}
.web-development {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.graphic-design {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.images2 {
    margin: 50px;
    padding: 15px;
    border: 1px solid #252839;
    border-radius: 4px;
    height: 30em; margin-right: 1%;margin-bottom: 0.5em;
}
.text {
       display: flex;
       flex-wrap: wrap;
       justify-content:space-between;
       font-family: monospace;
       font-weight: lighter;
       font-size: 20px;
       color: #F2B157;
}
.zoom {
    transition: transform .2s;
    opacity: 1;  
}
.zoom:hover {
    transform: scale(1.1); 
    opacity: 0.3;
    }
  
/* About me Styles */
.images3 {
    margin: 50px;
    padding: 15px;
    border: 1px solid #F2B157;
    border-radius: 4px;
    height: 50em; margin-right: 1%;margin-bottom: 0.5em;
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    color: #252839;
    text-align: center;
  
}
/* Reach out Style*/
.contact-info {
    background-color: #F2B157;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    width: auto;
    height:auto;
    border: 2px solid #252839; 
    border-radius: 10px;
}
.contact-info > * {
    flex: 1;
    margin: 15px;
}
.contact-info h3 {
    color: #252839;
    font-size: 32px;
}
.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}
.contact-form input, .contact-form textarea {
    border-right: 1px solid #01fe87;
    border: 1px solid;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color:#01fe87 ;
    width: 50%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
}
.contact-form input:focus, .contact-form textarea:focus {
    background-color:#01fe87;
    outline: none;
}
.contact-form button {
    width: 50%;
    border: none;
    background:#252839;
    color: #01fe87;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}
.contact-form button:hover {
    color:#252839;
    background:#ffffff;
}
.contact-info a {
    color:#01fe87;
}
.centered {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    top: 50%;
    left: 50%;
    font-weight: bolder;
    font-family: monospace;
    font-size: 20px;
    color: #252839;}
  /* Reach Out Stylet ends */

 



  /* image overlay */
  .container {
     position:relative ;
  }
  .imagetext {
position: absolute;
font-family: monospace;
top: 50%;
left: 50%;
opacity: 0;
  }
.container:hover .imagetext {
opacity: 1;
  }
